@import "tailwindcss";

body{
    background-color: #F4F6F8;
    font-family: Arial, Helvetica, sans-serif
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    padding-top: 20px;
    color: #2C3E50;
}
.loginclass {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    height: 100vh;  
    width: 100vw;  
    background-color: #F4F6F8;
}
  
  .loginclass > * {
    width: 300px;  
    text-align: center;
}  
label {
    color: #2C3E50;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
input {
    width: 250px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #2C3E50;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ECF0F1;
    color: #2C3E50;
}
input:focus {
    outline: none;
    border-color: #3498DB;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}  
button {
    width: 150px;
    padding: 10px;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}
button:hover{
    background-color: #3498DB;
}
a {
    color: #3498DB;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
Link {
    color: #3498DB;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}
Link:hover {
    text-decoration: underline;
}
  